@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: #e20855; /* Default theme color */
}
/* Example CSS */
.mobile-menu {
  display: none; /* Hidden by default */
}
.mobile-menu.block {
  display: block; /* Shown when menu is toggled */
}
